.about {
  &__title {
    padding: 30px;
    margin-top: 20px;
    
    &--my-photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    }

    &--bio {
      font-size: 15px;
      text-align: left;
      padding: 30px 20px 30px 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-areas:
      "title title img"
      "title title img"
      "bio bio img"
      "bio bio img"
      "bio bio img";

    margin-bottom: 30px;
  }

  .title {
    grid-area: title;
    margin-left: 20px;
  }

  .img {
    grid-area: img;
  }

  .bio {
    grid-area: bio;
    margin-left: 20px;
  }

  .about__title--bio {
    font-family: "Cormorant Garamond", serif;
    font-size: 15px;
  }

  .about__title--my-photo {
    height: 420px;
    width: 320px;
    margin-right: 40px;
  }
}
