.contact {
  padding: 20px;
  margin: 20px 20px 20px 20px;

  &--title {
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
  }
}
/*
.button {
    text-align: center;
    border: 1px solid black;
    width: 170px;
    height: 40px;
    margin: 50px auto;

    .button-link {
        text-decoration: none;
        padding: 10PX 0 0 0;
    }
} */

.button {
  margin: 20px 70px 20px 70px;
}
.button-link {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 20px;
    margin: 20px 20px 20px 20px;

    &--title {
      font-size: 70px;
      font-weight: lighter;
      text-align: center;
    }
  }

  .button {
    margin: 20px 40px 20px 40px;
  }
  .button-link {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0 250px 0 250px;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 20px;
    margin: 20px 20px 20px 20px;

    &--title {
      font-size: 70px;
      font-weight: lighter;
      text-align: center;
    }
  }

  .button {
    margin: 20px 80px 20px 80px;
  }
  .button-link {
    background-color: rgb(220, 206, 155);
    border: 1px solid black;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0 250px 0 250px;
  }
}