.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 25px 0 25px;
    margin-top: 60px;


    &--link {
        width: 40px;
        padding: 0 5px 0 5px;
        background-color: black;
    }
}

@media screen and (min-width: 1024px) {
    .footer--link {
        margin: 0 20px 0;
    }
}