.navbar {
    display: flex;
    justify-content: center;

    .navbar__links {
        text-decoration: none;

        &--name {
            font-size: 20px;
            padding: 20px;
            color: black;
        }

        &--menu {
            display: none; 
        }
    } 
}