.navbar {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;

  .navbar__links {
    text-decoration: none;

    &--name {
      font-size: 20px;
      padding: 20px;
      color: black;
    }

    &--menu {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar__links--name {
    font-size: 40px;
    padding: 40px;
    margin: 10px 0 0 30px;
    font-size: 40px;
  }

  .navbar {
    justify-content: space-between;

    .navbar__links {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      float: right;
    }
  }
}
