.portfolio {
  margin: 10px;
  padding: 10px;

  &--heading {
    padding: 0 0 20px 0;
  }

  .project__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

  .project--lang {
    display: none;
  }
}

.project-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &__title {
    display: flex;
  }

  &--icon {
    width: 25px;
    height: 25px;
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--heading {
      padding: 0 0 20px 0;
    }

    .project__photo {
      display: flex;
      margin-left: 0;
      margin-right: 0;
      width: 200px;
    }

    .project--lang {
      display: none;
    }
  }

  .desktop-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .project {
      display: flex;
      flex-direction: column;
    }
  }

  .project-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .icons {
      display: flex;
      justify-content: flex-end;
    }

    &__title {
      display: flex;
    }

    &--icon {
      width: 25px;
      height: 25px;
    }
  }
  .hidden {
    display: flex;
  }
  .heading {
    display: inline-block;
    margin-right: 3000px;
  }
}
