.portfolio {
    margin: 10px;
    padding: 10px;

    &--heading {
        padding: 0 0 20px 0;
    }

    .project__photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
    }

    .project--lang {
        display: none;
    }

}

.project-content {
    display: flex; 
    padding: 10px;
    
    &__title {
        padding-top: 10px;
    }

    &--icon {
        width: 30px;
    }

}