/* NEED TO ADD DISPLAY: FLEX IN MEDIA QUERIES SO THESE SHOW UP ON DESKTOP SITE */

.skills {
  display: none;
  justify-content: space-between;
  padding: 30px;
  margin-top: 20px;

  &--content {
    font-size: 10px;
    text-align: left;
    padding-right: 20px;
  }
}

.skills-icons {
  display: none;
  justify-content: center;

  &--img {
    height: 60px;
    margin: 10px 10px 10px 10px;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 50px;
  }

  .skills-content {
    font-size: 10px;
    text-align: left;
    margin-left: 100px;
  }

  .skills-icons {
    display: flex;
    justify-content: center;

    &--img {
      height: 60px;
      margin: 10px 10px 10px 10px;
    }
  }
}
