@use "./navbar" as *;

@use "./intro" as *;

@use "./about" as *;

@use "./skills" as *;

@use "./portfolio" as *;

@use "./contact" as *;

@use "./footer" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  background-color: rgb(255, 247, 219);
}
