.navbar {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
}
.navbar .navbar__links {
  text-decoration: none;
}
.navbar .navbar__links--name {
  font-size: 20px;
  padding: 20px;
  color: black;
}
.navbar .navbar__links--menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar__links--name {
    font-size: 40px;
    padding: 40px;
    margin: 10px 0 0 30px;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar .navbar__links {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    float: right;
    color: black;
  }
}
.intro {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__title {
  font-size: 60px;
  font-weight: lighter;
}
.intro__title__content {
  padding: 20px;
}
.intro .intro__content--p {
  font-size: 15px;
  text-align: left;
  margin: 30px 0 0 0;
}

@media screen and (min-width: 768px) {
  .intro__title {
    text-align: center;
    padding: 30px 0 30px 0;
  }
  .intro__content {
    padding-right: 100px;
    margin: 40px;
    height: 150px;
    text-align: left;
    font-size: 15px;
  }
  .intro--p {
    font-family: "Cormorant Garamond", serif;
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .intro__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px 60px 60px;
  }
  .intro__content .intro__content--p {
    text-align: center;
    font-size: 15px;
  }
}
.about__title {
  padding: 30px;
  margin-top: 20px;
}
.about__title--my-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
.about__title--bio {
  font-size: 15px;
  text-align: left;
  padding: 30px 20px 30px 20px;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-areas: "title title img" "title title img" "bio bio img" "bio bio img" "bio bio img";
    margin-bottom: 30px;
  }
  .title {
    grid-area: title;
    margin-left: 20px;
  }
  .img {
    grid-area: img;
  }
  .bio {
    grid-area: bio;
    margin-left: 20px;
  }
  .about__title--bio {
    font-family: "Cormorant Garamond", serif;
    font-size: 15px;
  }
  .about__title--my-photo {
    height: 420px;
    width: 320px;
    margin-right: 40px;
  }
}
/* NEED TO ADD DISPLAY: FLEX IN MEDIA QUERIES SO THESE SHOW UP ON DESKTOP SITE */
.skills {
  display: none;
  justify-content: space-between;
  padding: 30px;
  margin-top: 20px;
}
.skills__title--content {
  font-size: 10px;
  text-align: left;
  padding-right: 20px;
}

.skills-icons {
  display: none;
  justify-content: center;
}
.skills-icons__img {
  height: 60px;
  margin: 10px 10px 10px 10px;
}

@media screen and (min-width: 768px) {
  .skills {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 50px;
  }
  .skills__title--content {
    margin-right: 100px;
    margin-left: 50px;
    font-size: 15px;
    font-family: "Cormorant Garamond", serif;
  }
  .skills-icons {
    display: flex;
    justify-content: center;
  }
  .skills-icons__img {
    height: 60px;
    margin: 10px 10px 10px 10px;
    mix-blend-mode: darken;
  }
}
@media screen and (min-width: 1024px) {
  .skills__title--content {
    margin-right: 100px;
    font-size: 15px;
    font-family: "Cormorant Garamond", serif;
  }
}
.portfolio {
  margin: 10px;
  padding: 10px;
}
.portfolio--heading {
  padding: 0 0 20px 0;
}
.portfolio .project__photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}

.project-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.project-content__title {
  display: flex;
}
.project-content__title--icon {
  width: 25px;
  height: 25px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin: 50px 0 0 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio--heading {
    padding: 0 0 20px 0;
  }
  .portfolio .project__photo {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 200px;
  }
  .desktop-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .desktop-projects .project {
    display: flex;
    flex-direction: column;
  }
  .project-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .project-content .icons {
    display: flex;
    justify-content: flex-end;
  }
  .project-content__title {
    display: flex;
  }
  .project-content__title--icon {
    width: 25px;
    height: 25px;
  }
  .hidden {
    display: flex;
  }
  .heading {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    margin: 50px 0 0 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio--heading {
    padding: 0 0 20px 0;
  }
  .portfolio .project__photo {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 300px;
  }
  .desktop-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .desktop-projects .project {
    display: flex;
    flex-direction: column;
  }
  .project-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .project-content .icons {
    display: flex;
    justify-content: flex-end;
  }
  .project-content__title {
    display: flex;
  }
  .project-content__title--icon {
    width: 25px;
    height: 25px;
  }
  .hidden {
    display: flex;
  }
  .heading {
    display: inline-block;
    margin-right: 3000px;
  }
}
@media screen and (min-width: 1440px) {
  .portfolio {
    margin: 50px 0 0 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio--heading {
    padding: 0 0 20px 0;
  }
  .portfolio .project__photo {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 400px;
  }
}
.contact {
  padding: 20px;
  margin: 20px 20px 20px 20px;
}
.contact--title {
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
}

/*
.button {
    text-align: center;
    border: 1px solid black;
    width: 170px;
    height: 40px;
    margin: 50px auto;

    .button-link {
        text-decoration: none;
        padding: 10PX 0 0 0;
    }
} */
.button {
  margin: 20px 70px 20px 70px;
}

.button-link {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 20px;
    margin: 20px 20px 20px 20px;
  }
  .contact--title {
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
  }
  .button {
    margin: 20px 40px 20px 40px;
  }
  .button-link {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0 250px 0 250px;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    padding: 20px;
    margin: 20px 20px 20px 20px;
  }
  .contact--title {
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
  }
  .button {
    margin: 20px 80px 20px 80px;
  }
  .button-link {
    background-color: rgb(220, 206, 155);
    border: 1px solid black;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0 250px 0 250px;
  }
}
.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 25px 0 25px;
  margin-top: 60px;
}
.footer--link {
  width: 40px;
  padding: 0 5px 0 5px;
  background-color: black;
}

@media screen and (min-width: 1024px) {
  .footer--link {
    margin: 0 20px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  background-color: rgb(255, 247, 219);
}/*# sourceMappingURL=main.css.map */